$color1: #D4D4F7;
$color2: #2E2FE3;
$color3: #FCBA12;
$color4: #B88914;
$color5: #201F1D;
$color-text: #EEF1FC;
$header-color: #342309;
$footer-color: $header-color;
$nav-color: #31270C;
$border-color: $color5;
$header-text-color: $color-text;
$background-color: $color5;

* {
    box-sizing: border-box;
}
html, body{
  height:100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-color;
}



/* Style the header */
header {
    height:5%;
    //flex-direction: column;
    //background-color: $header-color;
    //padding: 30px;
    //margin: 5px 0px 5px 0px;
    text-align: center;
    font-size: 12px;
    color: $header-text-color;
    background-color: $header-color;
}

header ul {
    height:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul li {
    display: flex;
    float: left;
    height:100%;
}

header ul li a {
      display: flex;
      flex-direction: column;
      color: $color-text;
      padding: 8px 20px;
      text-decoration: none;
      text-align: center;
}

header ul li a div {
  flex: 2;
}

header ul li a p {
  flex: 1;
}

header ul li a:hover {
    background-color: #111;
}

/* Container for flexboxes */
section {
    height:90%;
    display: flex;
}

/* Style the navigation menu */
section nav {
    flex: 3;
    background-color: $nav-color;
}

section nav ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

section nav ul li a {
    display: block;
    margin: 2px 0px 0px 0px;
    background: $color4;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

// nav ul li a.active {
//     background-color: $color4;
//     color: white;
// }

section nav ul li a:hover:not(.active) {
    background-color: $color2;
    color: $color-text;
}


/* Style the content */
article {
    flex: 20;
    background-color: $color5;
    color: $color-text;
    padding: 10px;
}

/* Style the footer */
footer {
    flex-direction: column;
    display: flex;
    height:5%;
    background-color: $footer-color;
    text-align: center;
    color: white;
}

footer div{
      flex:1;
}

footer p {
  flex:1;
  background-color: $footer-color;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
      flex-direction: column;
    }
}
