@tailwind preflight;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  }

/* Style the header */
header {
  height: 5%;
  text-align: center;
  font-size: 12px;
  }

header ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

header ul li {
  display: flex;
  float: left;
  height: 100%; }

header ul li a {
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center; }

header ul li a div {
  flex: 2; }

header ul li a p {
  flex: 1; }

header ul li a:hover { }

/* Container for flexboxes */
section {
  height: 90%;
  display: flex; }

/* Style the navigation menu */
section nav {
  flex: 3;
   }

section nav ul {
  list-style-type: none;
  padding: 0px 0px 0px 0px; }

section nav ul li a {
  display: block;
  margin: 2px 0px 0px 0px;
  text-decoration: none; }


/* Style the content */
article {
  flex: 20;}

/* Style the footer */
footer {
  flex-direction: column;
  display: flex;
  height: 5%; 
  text-align: center;
   }

footer div {
  flex: 1; }

footer p {
  flex: 1; }

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    flex-direction: column; } }
