<!DOCTYPE html>
<html lang="en">
<head>
<link href="css/styles.css" rel="stylesheet">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="dist/vue.js"></script>
<script src="dist/vue-grid-layout.umd.min.js"></script> 
<script crossorigin src="/main.mjs" type="module"></script>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<header>
    <ul>
      <li><a href="#file"><div></div><p>File</p><div></div></a></li>
      <li><a href="#edit"><div></div><p>Edit</p><div></div></a></li>
      <li><a href="#placeholder1"><div></div><p>Place Holder</p><div></div></a></li>
      <li><a href="#placeholder2"><div></div><p>Place Holder</p><div></div></a></li>
    </ul>
</header>

<section>
  <nav>
    <ul>
        <div class="flex flex-col resize" id="app">
            <div
                is="menu-item"
                v-for="menu in info"
                v-bind:title="menu.title"
                v-bind:action="menu.action"
            ></div>
        </div>
    </ul>
  </nav>

  <article>
    <div id="example">
        <button v-on:click="greet">Greet</button>
            <grid-layout
                    :layout="layout"
                    :col-num="12"
                    :row-height="30"
                    :is-draggable="true"
                    :is-resizable="true"
                    :is-mirrored="false"
                    :vertical-compact="true"
                    :margin="[10, 10]"
                    :use-css-transforms="true"
            >
                <grid-item v-for="item in layout"
                        :x="item.x"
                        :y="item.y"
                        :w="item.w"
                        :h="item.h"
                        :i="item.i">
                    {{item.i}}
                </grid-item>
            </grid-layout>
    </div>
  </article>
</section>
<footer>
  <div></div>
  <p>Footer</p>
  <div></div>
</footer>

</body>
</html>
